<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/persistent">
        <button type="submit">menu config</button>
    </form>
    <form method="POST" action="/profile">
        <button>menu config pro</button>
    </form>
</body>

</html>